<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorator="adminlayout"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Fiche d'intervention</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="../static/style.css">
<body>

<p></p>
<div layout:fragment="content">
    <div class="container col-md-10 col-md-offset-2">
        <div class="row">
            <form th:action="@{saveIntervention}" method="post" class="mt-5 border p-4 bg-light shadow">
                <h4 class="mb-5 text-secondary">Rapport d'intervention</h4>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label>Traveaux effectuees</label>
                        <input type="text" name="trvEffectuees" class="form-control"
                               th:value="${intervention.trvEffectuees}"/>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Heure debut</label>
                        <input type="time"   name="hd" class="form-control"

                        />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Duree</label>
                        <input type="text" class="form-control" name="duree"
                               th:value="${intervention.duree}" placeholder="En minutes"/>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="select1">Nature d'intervention</label>
                        <div class="col-8">
                            <select id="select1" name="nature" class="form-select-lg" th:value="${intervention.type}">
                                <option value="Curatif">Curatif</option>
                                <option value="Preventif">Preventif</option>
                                <option value="Evolutif">Evolutif</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Nom d'intervenant</label>
                        <input type="text" name="nom" class="form-control"/>

                    </div>
                    <div class="mb-3 col-md-6">
                        <!--  <div class="mb-3 col-md-6">-->
                        <label>Prenom d'intervenant</label>
                        <input type="text" name="prenom" class="form-control"/>

                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Num Bureau</label>
                        <input type="text" name="numBureau" class="form-control"
                               th:value="${intervention.numBureau}"/>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Nom de l'employe</label>
                        <input type="text" name="nomPersonnel" class="form-control"
                               th:value="${intervention.nomPersonnel}"/>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Observation</label>
                        <input type="text" name="observation" class="form-control"
                               th:value="${intervention.observation}"/>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="select1">Type de panne</label>
                        <div class="col-8">
                            <select id="select2" name="typePanne" class="form-select-lg"
                                    th:value="${intervention.typePanne}">
                                <option value="Materiel">Materiel</option>
                                <option value="Logiciel">Logiciel</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Date</label>
                        <input type='date' class="form-control" name="dt"
                               autocomplete="off"/>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="select1">Inventaire</label>
                        <div class="col-8">
                            <select id="select3" name="inv" class="form-select-lg"
                                  >
                                <option value="Pc">Pc</option>
                                <option value="Scanner">Scanner</option>
                                <option value="Imprimante">Imprimante</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label></label>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Numero de serie</label>
                        <input type="text" name="ns" class="form-control"/>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-success float-end">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


</html>